extends ./layout

block content
  .row.clearfix
    .col-md-12.column
      .btn-group#subMenu
        a(href='#')
          button.btn.btn-default(type='button')
            em.glyphicon.glyphicon-plus
            |  新增
        a(href='#')
          button.btn.btn-default(type='button')
            em.glyphicon.glyphicon-tags
            |  複製
        a(href='#')
          button.btn.btn-default(type='button')
            em.glyphicon.glyphicon-trash
            |  刪除
  .row.clearfix
    .col-md-12.column#tagList
