extends ./layout

block content
  .btn-group
    button.btn.btn-default(type='button')
      em.glyphicon.glyphicon-plus
      |  新增
    button.btn.btn-default(type='button')
      em.glyphicon.glyphicon-tags
      |  複製
    button.btn.btn-default(type='button')
      em.glyphicon.glyphicon-trash
      |  刪除
