extends ./layout

block append scripts
  script(type='text/javascript', src='/javascripts/tags.js')

block content
  .row.clearfix#tagContainer
    .col-md-1.column
      span.input-group-btn
        button.btn.btn-default#copyTag(type='button')
          em.glyphicon.glyphicon-tags
          | 　複製
    .col-md-1.column
      span.input-group-btn
        button.btn.btn-default#delTag(type='button')
          em.glyphicon.glyphicon-trash
          | 　刪除
    .col-md-10.column
      .input-group
        input(type='text', class='form-control', id='newTagName', autocomplete='off')
        span.input-group-btn
          button.btn.btn-default#newTagBtn(type='button')
            em.glyphicon.glyphicon-plus
            | 　新增
    .col-md-12.column
      #messageBox
    .col-md-12.column
      table.table.table-hover
        thead
          tr
            th
              input(type='checkbox', name='selectAll')          
            th #
            th
              a.reorder(href='#', data-by='name') name
            th 
              a.reorder(href='#', data-by='lastModifier') lastModifier
            th
              a.reorder(href='#', data-by='lastModified') lastModified
        tbody#tagList

block backboneTemplate
  script#tmplTagList(type='text/template')
    tr
      td: input(type='checkbox', name='index[]', value!='<%= id %>')
      td <%= num %>
      td: a.editTag(href='#', data-id!='<%= id %>') <%= name %>
      td <%= lastModifier %>
      td <%= lastModified %>
  script#tmplMessage(type='text/template')
    .alert.alert-dismissible(class!='alert-<%= type %>' role='alert')
      button.close(type='button', data-dismiss='alert')
        span(aria-hidden='true') &times;
        span.sr-only Close
      strong <%= type.toUpperCase() %>!
      |&nbsp;&nbsp;<%= content %>

