extends ./layout


block content
  .container#toolbar
    .row.clearfix
      .col-md-6.column
        h1 管理區 - Tags 
      .col-md-6.column
        span.label.label-danger.pull-right.hide#recycleLabel 回收桶
    .row.clearfix
      .col-xs-12.column
        nav.navbar.navbar-default(role='navigation')
          .container-fluid
            .navbar-header
              button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#toolbar', aria-expanded='false')
                span.sr-only Toggle
                span.icon-bar 
                span.icon-bar 
                span.icon-bar 
            .navbar-collapse.collapse(aria-expanded='false')
              button.btn.btn-default.navbar-btn.navbar-left.hide#recoverBtn(type='button')
                em.glyphicon.glyphicon-repeat &nbsp;回復
              button.btn.btn-default.navbar-btn.navbar-left#newBtn(type='button', data-toggle='modal', data-target='#editBox')
                em.glyphicon.glyphicon-plus &nbsp;新增
              button.btn.btn-default.navbar-btn.navbar-left#copyBtn(type='button')
                em.glyphicon.glyphicon-tags &nbsp;複製
              button.btn.btn-default.navbar-btn.navbar-left#removeBtn(type='button')
                em.glyphicon.glyphicon-trash &nbsp;刪除
              form.navbar-form.navbar-left
                input.form-control#autoComplete(type='text', autocomplete='off', placeholder='Tag名稱', data-role='tagsinput')
              button.btn.btn-default.navbar-btn.navbar-right#recycleToggle 回收桶


      .col-xs-12.column#messageBox
      .col-xs-12.column
        .responsive
          table.table.table-hover#contentTable
            thead
              tr
                th
                  input#selectAll(type='checkbox', name='selectAll')
                th #
                th
                  a.reorder(href='#', data-by='name') Tag Name
                th
                  a.reorder(href='#', data-by='lastModifier') 最後修改者
                th
                  a.reorder(href='#', data-by='lastModified') 最後修改時間
            tbody

    .modal.fade#editBox
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            h4.modal-title#editTitle Modal title
          .modal-body
            .row#editBody
          .modal-footer
            button.btn.btn-default(data-dismiss='modal') Close
            button.btn.btn-primary(data-dismiss='modal')#save Save

block append backboneTemplate
  script#tmplTag(type='text/template')
    td: input(type='checkbox', name='index[]', value!='<%= _id %>')
    td <%= index %>
    td: a.edit(href='#', data-toggle='modal', data-target='#editBox') <%= name %>
    td <%= lastModifier %>
    td <%= lastModifiedLocale %>

  script#tmplEditBox(type='text/template')
    .col-xs-12
      .input-group.form-group
        span.input-group-addon Tag名稱
        input.form-control#tagName(type='text', placeholder='Tag Name', value!='<%= name %>')

block append scripts
  script
    | var tags = new Bloodhound({
    |   datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
    |   queryTokenizer: Bloodhound.tokenizers.whitespace,
    |   prefetch: {
    |     url: 'http://loltube.shingotw.me/api/tags/autocomplete',
    |     filter: function(tag){
    |       return $.map(tag, function(tag){
    |         return {name: tag.name};
    |       });
    |     }
    |   }
    | });
    | tags.initialize();
    | $('#autoComplete').tagsinput({
    |   maxChars: 20,
    |   typeaheadjs: {
    |     name: 'tags', 
    |     displayKey: 'name',
    |     valueKey: 'name',
    |     source: tags.ttAdapter()
    |   }
    | });
    | $('#autoComplete').on( 'itemAdded itemRemoved', function(event){
    |   app.tagListView.filter($('#autoComplete').val());
    | });
  script(type='text/javascript', src='/javascripts/tags.js')
  script(type='text/javascript', src='/javascripts/models/tags.js')
  script(type='text/javascript', src='/javascripts/views/tags.js')
