extends ./layout

block append scripts
  script(type='text/javascript', src='/javascripts/tags.js')

block content
  .row.clearfix#tagContainer
    .col-xs-2.col-md-1.column
      button.btn.btn-default#copyTag(type='button')
        em.glyphicon.glyphicon-tags &nbsp;複製
    .col-xs-2.col-md-1.column
      button.btn.btn-default#unactiveTag(type='button')
        em.glyphicon.glyphicon-trash &nbsp;刪除
    .col-xs-6.col-md-9.column
      .input-group
        input.form-control#newTagName(type='text', autocomplete='off')
        span.input-group-btn
          button.btn.btn-default#newTagBtn(type='button')
            em.glyphicon.glyphicon-plus &nbsp;新增
    .col-xs-2.col-md-1.column
      button.btn.btn-default#recycleMode(type='button') 回收桶
    .col-xs-12.column#messageBox
    .col-xs-12.column
      table.table.table-hover
        thead
          tr
            th
              input(type='checkbox', name='selectAll')          
            th #
            th
              a.reorder(href='#', data-by='name') name
            th 
              a.reorder(href='#', data-by='lastModifier') lastModifier
            th
              a.reorder(href='#', data-by='lastModified') lastModified
        tbody#tagList

block backboneTemplate
  script#tmplTagList(type='text/template')
    tr
      td: input(type='checkbox', name='index[]', value!='<%= id %>')
      td <%= num %>
      td: a.editTag(href='#', data-id!='<%= id %>') <%= name %>
      td <%= lastModifier %>
      td <%= lastModified %>
  script#tmplMessage(type='text/template')
    .panel(class!='panel-<%= type %>')
      .panel-heading
        h3.panel-title <%= title %>
      .panel-body <%= content %>&nbsp;&nbsp;&nbsp;&nbsp;
        <% if(app.tagView.messageModel.get('undoable')){ %>
        a#undo(href='#'): u
          em.glyphicon.glyphicon-repeat UNDO
        <% } %>
