extends ./layout

block scripts
  script(type='text/javascript', src='/javascripts/tags.js')

block content
  .row.clearfix#tagContainer
    .col-md-12.column
      #messageBox
    .col-md-12.column
      .input-group
        input(type='text', class='form-control', name='newTagName')
        span.input-group-btn
          button.btn.btn-default#newTagBtn(type='button')
            em.gluphicon.glyphicon-plus
            | 新增
    .col-md-12.column
      table.table.table-hover
        thead
          tr
            th
            th #
            th
              a.reorder(href='#', data-by='name') name
            th 
              a.reorder(href='#', data-by='lastModifier') lastModifier
            th
              a.reorder(href='#', data-by='lastModified') lastModified
        tbody#tagList

block backboneTemplate
  script#tmplTagList(type='text/template')
    | <tr>
    |   <td><input type="checkbox", name="index[]", val="<%= id %>" /></td>
    |   <td><%= num %></td>
    |   <td><a class="editTag" href="#" data-id="<%= id %>"><%= name %></a></td>
    |   <td><%= lastModifier %></td>
    |   <td><%= lastModified %></td>
    | </tr>
  script#tmplMessage(type='text/template')
    | <p><%= classType %></p>
    | <strong><%= type %></strong>
    | <%= message %>

