extends ./layout

block menu
block content
  .row
    .col-md-4.column
    .col-md-4.column
      h1 管理區
      p.lead 請輸入您的管理Email與密碼
      br
      form(role='form', action='/tellusadmin', method='post')
        .form-group
          input.form-control(type='text', name="username", placeholder='Email address')
        .form-group
          input.form-control(type='password', name="password",  placeholder='Password')
        button.btn.btn-primary.pull-right(type='submit') Submit 
        if godmode 
          a(href='/tellusadmin/godmode')
            button.btn.btn-default.pull-left(type='button') Register
    .col-md-4.column
